body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.servicios {
    display: flex;
    height: 210vh /* Ajustar altura para dejar espacio para el footer */
}

.sidebar {
    width: 209.28px;
    height: 98.6%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        .sidebar ul li {
            margin: 10px 0;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            display: block;
            transition: background 0.3s;
        }

        .sidebar ul li a:hover {
            background-color: #333;
        }
    
                
        .formulario_div {
            padding: 40px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            width: 800px;
            margin: 30px;
            margin-left: 73px;
            height: auto;
        }

        .formulario_div h1 {
            color: #343a40;
            text-align: center;
            margin-bottom: 30px;
        }

        .formulario_div form div {
            margin-bottom: 20px;
        }

        .formulario_div form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 10px;
        }

        .formulario_div form input[type="date"],
        .formulario_div form input[type="number"]{
            
                width: 97%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ddd;
                background-color: #f9f9f9;
                font-size: 16px;
            
        }
        .formulario_div form select {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            font-size: 16px;
        }

        .formulario_div form input[type="radio"],
        .formulario_div form input[type="checkbox"] {
            margin-right: 10px;
        }

        .formulario_div form p {
            margin-bottom: 10px;
            font-size: 20px;
        }


        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        label p {
            font-weight: bold;
            color: #333;
        }

        select, input[type="radio"], input[type="checkbox"] {
            margin-top: 10px;
        }

        .serviciosExtra {
            display: flex;
            flex-direction: column;
            gap: 10px; 
        }

        #buttFin {
            width: 100px;
            padding: 10px;
            margin-top: 20px;
            width: auto; 
            text-align: center;
            background-color: #6AB5F1;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none; 
            
        }
        #buttFin a {
            color: white;
            text-decoration: none; 
        }

        #buttFin:hover {
            background-color: #5393d3;
        }

        input[type="button"] {
            display: none; /* Oculta el botón redundante */
        }


                .footer {
                    background-color: #2e3b4e; 
                    color: white; 
                    bottom: -2vh; /* Oculto inicialmente */
                    left: 0; 
                    right: 0; 
                }
                
                .footer-content {
                    display: flex; 
                    justify-content: space-between; 
                }
                
                .footer-section {
                   flex-basis :100%; /* Ajustar el tamaño de las secciones */
                   margin :5px ; /* Espaciado entre secciones */
                }
                
                .footer-section h3 {
                   color:#6AB5F1 ; /* Color del título */
                }
                
                .footer-section ul {
                   list-style :none ; /* Sin estilo de lista */
                   padding :0 ; /* Sin padding */
                }
                
                .footer-section ul li {
                   margin :5px 0 ; /* Espaciado entre los elementos de la lista */
                }
                
                .footer-section a {
                   color:white ; /* Color del enlace */
                   text-decoration:none ; /* Sin subrayado */
                }
                
                .footer-section a:hover {
                   text-decoration :underline ; /* Subrayar al pasar el mouse */
                }
                
                .newsletter input[type=email] {
                   padding :10px ; /* Espaciado interno */
                   width :calc(100% - 20px) ; /* Ancho del input */
                   margin-right :5px ; /* Margen derecho */
                   border :none ; /* Sin borde */
                   border-radius :5px ; /* Bordes redondeados */
                }
                
                .newsletter button {
                   padding :10px ; /* Espaciado interno del botón */
                   background-color :#6AB5F1 ; /* Color de fondo del botón */
                   color:white ; /* Color del texto */
                   border:none ; /* Sin borde */
                   border-radius :5px ; /* Bordes redondeados */
                   cursor:pointer ; /* Cambia el cursor al pasar sobre el botón */
                }
                
                .newsletter button:hover {
                   background-color:#5393d3 ; /* Color de fondo al pasar el mouse */
                }
